.excel-generator-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row-reverse;

    .generate-excel-btn {
        width: 30%;
        cursor: pointer;
    }

    .success-snackbar {
        background-color: #4caf50 !important;
        direction: ltr;
      }
}

.types-selector {
    width: 15%;
    margin: 2%;
}

.snackbar-container {
    display: flex;
    justify-content: center;

    .error-snackbar {
        width: 35%;
        justify-content: center;
    }
}