.error-snackbar {
  background-color: #f44336 !important;
  direction: ltr;
}

.success-snackbar {
  background-color: #4caf50 !important;
  direction: ltr;
}

.upload-excel-btn {
  display: none;
}

.icon {
  font-size: 20;
  opacity: 0.9;
  margin-right: 1;
}
