.card{
    width: 17%;
    margin-bottom: 10px;
    margin-left: 20px; 

    .my-image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;

        img{
            width: 74px;
        }
    }
    .card-body{

        .fields{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .subEntites{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
}

.card:hover{
    cursor: pointer;
}