.header {
  width: 100%;
  background-color: #42a5f5;
  height: 40px;
  display: flex;
  direction: rtl;
  align-items: center;

  .app-name {
    margin-right: 15px;
    text-decoration: none;
    color: black;
  }

  .add-img {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-right: 28px;
    background-color: #cbddef;
    border-radius: 4px;
    opacity: 0.6;
    transition: 0.3s;

    img {
      width: 25px;
    }
  }

  .add-img:hover {
    cursor: pointer;
    opacity: 1;
  }

  .list-view {
    opacity: 0.5;
    margin-right: 1000px;
  }

  .list-view:hover {
    cursor: pointer;
    opacity: 1;
  }

  .cards-view {
    opacity: 0.5;
    margin-right: 6px;
    display: flex;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .cards-view:hover {
    cursor: pointer;
    opacity: 1;
  }

  .clicked {
    opacity: 1;
  }
}
